:root {
    --bgcolor: #252525;
    --primary: #32035e;
    --secondary: #830cf1;
    --thirdth: #222831;
    --fourth: #EEEEEE;
    --darkviolet: #010101 ;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: var(--darkviolet)!important;
}


/* #region navbar */

a {
    transition: .5s;
}

a,
input {
    color: var(--secondary)!important;
}


/* header */

.header {
    background-color: var(--primary);
    position: sticky;
    width: 90%;
    margin: 10px 5%;
    margin-top: 20px!important;
    z-index: 3;
    transition: all 1s;
    top: 0;
    border-radius: 20px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header ul li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header ul li a {
    width: fit-content;
    font-weight: 600;
}

.header ul li a:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--secondary);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.header ul li a:hover:after {
    transform: scaleX(1);
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.header ul li a:hover {
    transform: scale(1.2);
}

.header .logo {
    display: block;
    float: left;
    font-size: 1.8em;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
}

.header .logo:hover {
    text-shadow: 0 0 2px var(--secondary), 0 0 2px var(--secondary), 0 0 2px var(--secondary), 0 0 2px var(--secondary), 0 0 2px var(--secondary), 0 0 2px var(--secondary), 0 0 2px var(--secondary);
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    display: grid;
    place-items: center;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline;
    padding: 28px 20px;
    position: relative;
    float: right;
    user-select: none;
}

.header .menu-icon .navicon {
    background: var(--secondary);
    display: block;
    height: 2px;
    position: relative;
    transition:  .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--secondary);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
    .header {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .menu {
        display: inline
    }
    .header ul li {
        width: fit-content;
        float: left;
    }
    .header li a {
        padding: 20px 3vw;
        font-size: clamp(0.8em, 1em, 1.2em);
    }
    .header .menu {
        display: inline;
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}


/* #endregion navbar */


/* #region section */

    section {
        color: #fff;
        padding: 80px 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background-color: var(--bgcolor);
        text-align: center;
    }
    .col-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col-image img{
        border-radius: 400px 400px 400px 400px / 350px 350px 350px 50px;
        width: 300px;
        height: 300px;
    }
    .col-text-content{
        text-align: left;
        margin:  10px;
    }
    .typing-out span{
        color: rgb(220, 126, 243);
    }
    .typing-out{
        font-size: 1.3em;
    }
    .col-text-content h2::selection,
    .col-text-content h2 span::selection,
    #str::selection{
        color: rgb(0, 0, 0);
        background-color: var(--secondary);
    }
    .col-text-content h2{
        font-size:4em;
        margin-bottom: 10px;
        /* border: 2px solid pink; */
    }
    .col-text-content h2 span:first-child{
        text-shadow: 4px -4px 0 var(--primary), -4px 4px 0 var(--secondary);
    }
    .col-text-content h2 span span{
        color: rgb(220, 126, 243);
    }
    #landpage{
        background-image: url(../images/landpagebg.jpg);
        background-color: #350780;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-blend-mode: multiply;
    }
    .typing-out {
        /* border: 2px solid red; */
        margin-top: 1px;
    }
    @media (max-width: 648px) {
        .col-image img{
            height: 100%;
            width: 50%;
        }
    }
    @media (max-width: 568px) {
        .col-image img{
            height: 70%;
            width: 60%;
        }
        .col-text-content h2{
            font-size: 2.5em;
        }
        .typing-out h3{
            font-size: 0.8em;
        }
    }
    
/* #endregion section */


/* #region grid sidebyside */

.col-text {
    height: 20em;
}

.grid-flex {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-direction: row;
    width: 90%;
    -webkit-flex-direction: row;
    margin: 5%;
    height: 30%;
    transition: all 1s;
}

.col {
    height: 400px;
}

.col {
    flex: 1;
}


/* inverto le posizioni, in questo caso tra il testo e l'immagine */

.col-left {
    order: -1;
}

.col-text {
    /* allineo orizzontalmente il testo */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .col-text-content {
    width: 80%;
} */

.col-image {
    background-size: cover;
    background-position: center;
}

@media (max-width: 860px) {
    .grid-flex {
        /* 1 em = 16px */
        height: 40em;
        flex-direction: column;
        margin-bottom: 0;
    }
    .col {
        order: vertical;
    }
    .col-left {
        order: 0;
    }
    .col-text div p {
        padding: 15px;
    }
    .col-text-content {
        /* width: 90%; */
        height: max-content;
    }
}
/* #endregion gridsidebyside */


/* SOCIAL LINKS */


/* ul li {
    list-style: none;
}

ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

ul li a:hover:before {
    top: 0;
}

ul li:nth-child(1) a:before{
    background: #3b5999;
}

ul li:nth-child(2) a:before{
    background: #55acee;
}

ul li:nth-child(3) a:before {
    background: #0077b5;
}

ul li:nth-child(4) a:before {
    background: #dd4b39;
}

*/